<ng-container *ngIf="countedCharsChartData">
  <p class="text-center">
    The number a character has appeared in all 7 seasons (total of 176 episodes)
    counted by episodes:
  </p>
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme2"
    [results]="countedCharsChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="false"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="'Characters'"
    [yAxisLabel]="yAxisLabel"
    [barPadding]="1"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical>
</ng-container>
