.App--header {
  background-color: #080827;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App--data {
  margin: auto;
  padding: 1em;
  background-color: #272058;
  border: 1px solid #ccc;
}

// .App--form {
//   margin: auto;
//   display: grid;
//   // grid-template-columns: 1fr;
//   text-align: center;
//   font-size: 1.4em;
// }

.App--graph {
  margin: auto;
  padding: 1em;
  background-color: #080827;
  // border-bottom: 2px solid #ff6363;
  // border-left: 2px solid #ff6363;
  // border-right: 2px solid #ff6363;
  /* width: 450px; */
  // height: 300px;
}

.form--characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form--label--characters {
  grid-column-start: span 3;
}
