<div class="App">
  <div class="App--header">
    <h2>Deep Space 9 - Character Dynamics</h2>
  </div>
  <div class="App--data">
    <div>
      <label>Choose a Season:</label>
      <select (change)="onSeasonSelect($event.target.value)">
        <option value="---">---</option>
        <option *ngFor="let number of seasons; index as i" [value]="i + 1">
          Season {{ i + 1 }}
        </option>
      </select>
      <label>Choose an Episode:</label>
      <select
        [ngModel]="dataService.season$ | async"
        (ngModelChange)="onEpisodeSelect($event)"
      >
        <option value="---">---</option>
        <option
          *ngFor="let episode of dataService.season$ | async"
          [ngValue]="episode"
        >
          {{ episode.episodeNum }}: {{ episode.title }}
        </option>
      </select>
      <label>Choose Characters:</label>
      <form [formGroup]="form">
        <label
          formGroupName="chars"
          *ngFor="let char of form.get('chars').value | keyvalue"
          ><input
            type="checkbox"
            [formControlName]="char.key"
            [value]="char.value"
          />
          {{ char.key }}
        </label>

        <label>Choose Relationships: </label>
        <label
          formGroupName="dynamics"
          *ngFor="let dynamics of form.get('dynamics').value | keyvalue"
        >
          {{ dynamics.key }}
          <input
            type="checkbox"
            [formControlName]="dynamics.key"
            [value]="dynamics.value"
          />
        </label>
      </form>
      <button (click)="draw()">Draw</button>
      <div class="App--graph">
        <!-- <app-graph></app-graph> -->
        <ngx-graph
          class="chart-container"
          [view]="[500, 200]"
          [links]="[
            {
              id: 'a',
              source: 'first',
              target: 'second',
              label: 'is parent of'
            },
            {
              id: 'b',
              source: 'first',
              target: 'third',
              label: 'custom label'
            }
          ]"
          [nodes]="[
            {
              id: 'first',
              label: 'A'
            },
            {
              id: 'second',
              label: 'B'
            },
            {
              id: 'third',
              label: 'C'
            }
          ]"
        >
        </ngx-graph>
      </div>
    </div>
  </div>
</div>
