$button-color: hsla(191, 76%, 47%, 1);
.App {
  background-color: #080827;
}

.w-20p {
  width: 20%;
}
.App--header {
  background-color: #080827;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App--data {
  // color: white;
  // margin: auto;
  // padding: 1em;
  // background-color: #080827;
  // border: 1px solid #ccc;

  label {
    input {
      display: none;
    }
  }
}

select {
  border: 1px solid $button-color;
  padding: 5px 8px 5px 8px;
  background-color: #080827;
  cursor: pointer;
  font-size: 13px;
  font-weight: 200;

  &:hover {
    background-color: #1db2d3;
  }

  transition: 0.2s all;
}

.episode--select__min-width {
  min-width: 150px;
}

// .App--form {
//   margin: auto;
//   display: grid;
//   // grid-template-columns: 1fr;
//   text-align: center;
//   font-size: 1.4em;
// }

.App--graph {
  margin: auto;
  padding: 1em;
  background-color: #080827;
  // border-bottom: 2px solid #ff6363;
  // border-left: 2px solid #ff6363;
  // border-right: 2px solid #ff6363;
  /* width: 450px; */
  // height: 300px;
}

.form--characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  label {
    padding: 0.2rem 0.2rem;
  }
}

.form--label--characters {
  grid-column-start: span 4;

  .button {
    padding: 1px 12px;
  }
}

.button,
button {
  box-shadow: 2px 2px 0px 0px hsla(191, 76%, 37%);
}

.char--buttons__padding {
  padding: 1px 12px;
}

.selected {
  background-color: hsla(191, 76%, 47%, 1);
}
