<div class="App">
  <div class="App--header">
    <h2>Deep Space 9 - Character Dynamics</h2>
  </div>
  <div class="App--data">
    <div>
      <label>Choose a Season:</label>
      <select (change)="onSeasonSelect($event.target.value)">
        <option value="---">---</option>
        <option *ngFor="let number of seasons; index as i" [value]="i + 1">
          Season {{ i + 1 }}
        </option>
      </select>
      <label>Choose an Episode:</label>
      <select
        [ngModel]="dataService.season$ | async"
        (ngModelChange)="onEpisodeSelect($event)"
      >
        <option value="---">---</option>
        <option
          *ngFor="let episode of dataService.season$ | async"
          [ngValue]="episode"
        >
          {{ episode.episodeNum }}: {{ episode.title }}
        </option>
      </select>
      <label>Choose Characters:</label>
      <form
        [formGroup]="charForm"
        (ngModelChange)="selectedChars$.next($event.target.value)"
      >
        <label
          formArrayName="chars"
          *ngFor="let char of dataService.chars$ | async; let i = index"
          ><input type="checkbox" [formControlName]="i" /> {{ char }}
        </label>
      </form>

      <label>Choose Relationships: </label>
      <ng-container
        *ngFor="let relationship of analysisService.relationships | keyvalue"
      >
        <label
          >{{ relationship.key }}
          <input type="checkbox" />
        </label>
      </ng-container>

      <button (click)="draw()">Draw</button>
      <div class="App--graph">
        <app-graph></app-graph>
      </div>
    </div>
  </div>
</div>
