select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em 2em 1em 1em;
  font-size: 1em;
}
.select-container {
  position: relative;
  display: flex;
}
.select-container:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}
/* .select-container:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 0.3em;
  right: 0.75em;
  border-top: 8px solid black;
  opacity: 0.5;
} */
.select-container:after {
  display: none;
}
select::-ms-expand {
  display: none;
}
select {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
